torch==2.7.1 
torchvision==0.22.1 
torchaudio==2.7.1
Flask==2.2.2
psycopg2-binary==2.9.5
uWSGI==2.0.21
python-dotenv==0.21.0
Flask-SQLAlchemy==3.0.2
SQLAlchemy==1.4.45
PyJWT==2.6.0
werkzeug==2.3.8
google-auth-oauthlib==1.0.0
requests==2.31.0
pywebpush==1.14.0
APScheduler==3.10.4
Flask-Cors==4.0.0
gunicorn==21.2.0
Pillow==10.3.0
transformers==4.42.3
accelerate==0.31.0
faster-whisper==1.1.1
moviepy==1.0.3
jinja2==3.1.4
pyyaml==6.0.1
passlib==1.7.4
scikit-learn>=1.6.1
ipywidgets==8.1.7
widgetsnbextension==4.0.14
matplotlib>=3.9.4
pandas>=2.3.1
numpy==1.26.4
openai
opencv-python-headless
uvicorn[standard]
albumentations>=2.0.8
tqdm
ffmpeg
faster-whisper
huggingface_hub
onnxruntime==1.19.2
google-generativeai==0.8.5
soundfile==0.13.1
pyloudnorm>=0.1.1
audiomentations>=0.42.0
pyannote-audio>=3.3.2